<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand"><span class="glyphicon glyphicon-hashtag"></span>Hashtags</span>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/add-hashtag">Add Hashtag</a></li>
      <li routerLinkActive="active"><a routerLink="/add-tweet">Add Tweet</a></li>
    </ul>
  </div>
</nav>
<div class="clearfix"></div>
<div class="container-fluid content">
  <router-outlet></router-outlet>
</div>

